{% extends "base.html" %}

{% block head %}
    <title>Add a New Book</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/form.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/navigation.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block content %}
<h1>Add a New Book</h1>
<form id="addBookForm" method="post" action="{{ url_for('books.add_book_form') }}">
	<label for="book_name">Name:</label>
        <input type="text" name="book_name" required><br>
        <label for="book_author">Author:</label>
        <input type="text" name="book_author" required><br>
        <label for="book_original_stock">Original Stock:</label>
        <input type="number" name="book_original_stock" required><br>
	<label for="book_current_stock">Current Stock:</label>
	<input type="number" name="book_current_stock" required><br>
        <button type="submit">Add Book</button>
</form>
{% endblock %}
