<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/change_password.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/navigation.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <nav class="horizontal-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{{ url_for('user.members_listing') }}">View Memmbers</a></li>
                <li><a href="{{ url_for('user.books_listing') }}">View Books</a></li>
                <li class="has-submenu">
                    <a href="/issuances">Make an Issuance</a>
                    <ul class="submenu">
                        <li><a href="{{ url_for('user.issuance_listing') }}">View Issuances</a></li>
                        <li><a href="/create_issuance">Add an Issuance</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('user.statement_listing') }}">Open Issuances</a></li>
                <li><a href="{{ url_for('user.change_password') }}">Change Password</a></li>
                <li><a href="{{ url_for('user.logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>	
    <h1>Change Password</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="POST">
    {{ change_password_form.hidden_tag() }}
    <p>
        {{ change_password_form.old_password.label }}
        {{ change_password_form.old_password() }}
    </p>
    <p>
        {{ change_password_form.changed_password.label }}
        {{ change_password_form.changed_password() }}
    </p>
    <p>
        {{ change_password_form.change_password() }}
    </p>
    </form>
    <footer>
      <p>&copy; 2024 Library Management. All rights reserved</p>
 </footer>
</body>
</html>
