<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/change_password.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/navigation.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <nav class="horizontal-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{{ url_for('user.members_listing') }}">View Members</a></li>
                <li><a href="{{ url_for('user.books_listing') }}">View Books</a></li>
                <li class="has-submenu">
                    <a href="/issuances">Make an Issuance</a>
                    <ul class="submenu">
                        <li><a href="{{ url_for('user.issuance_listing') }}">View Issuances</a></li>
                        <li><a href="/create_invoice">Add an Issuance</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('user.statement_listing') }}">Open Issuances</a></li>
                <li><a href="{{ url_for('user.change_password') }}">Change Password</a></li>
                <li><a href="{{ url_for('user.logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <h1>Forgot Password</h1>
    <form method="POST">
    {{ forgot_password_form.hidden_tag() }}
    <p>
        {{ forgot_password_form.username.label }}
        {{ forgot_password_form.username() }}
    </p>
    <p>
        {{ forgot_password_form.new_password.label }}
        {{ forgot_password_form.new_password() }}
    </p>
    <p>
        {{ forgot_password_form.forgot_password() }}
    </p>
    </form>
    <footer>
      <p>&copy; 2024 Library Management. All rights reserved</p>
 </footer>
</body>
</html>
