{% extends "base.html" %}

{% block head %}
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/change_password.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block content %}
    <h1>Forgot Password</h1>
    <form method="POST">
    {{ forgot_password_form.hidden_tag() }}
    <p>
        {{ forgot_password_form.username.label }}
        {{ forgot_password_form.username() }}
    </p>
    <p>
        {{ forgot_password_form.new_password.label }}
        {{ forgot_password_form.new_password() }}
    </p>
    <p>
        {{ forgot_password_form.forgot_password() }}
    </p>
    </form>
{% endblock %}
