<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/sidebar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header></header>

    <div class="page-container">
        <div class="sidebar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{{ url_for('user.members_listing') }}">View Members</a></li>
                <li><a href="{{ url_for('user.books_listing') }}">View Books</a></li>
                <li>
                    <a href="/issuances">Make an Issuance</a>
                    <ul>
                        <li><a href="{{ url_for('user.issuance_listing') }}">View Issuances</a></li>
                        <li><a href="/create_invoice">Add an Issuance</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('user.statement_listing') }}">Open Issuances</a></li>
                <li><a href="{{ url_for('user.change_password') }}">Change Password</a></li>
                <li><a href="{{ url_for('user.logout') }}">Logout</a></li>
            </ul>
        </div>

        <div class="main-content">
            <h1>Welcome {{ user.username }}</h1>
            <img src="../static/images/home.jpg" alt="Library Management homepage">
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Library Management. All rights reserved</p>
    </footer>
</body>
</html>
