<!DOCTYPE html>
<html>
<head>
    <title>Update Book</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/form.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
   <link rel="stylesheet" type="text/css" href="../static/styles/footer.css">
   <link rel="stylesheet" type="text/css" href="../static/styles/navigation.css">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <nav class="horizontal-nav">
            <ul>
		    <li><a href="/">Home</a></li>
                <li><a href="{{ url_for('user.members_listing') }}">View Members</a></li>
                <li><a href="{{ url_for('user.books_listing') }}">View Books</a></li>
                <li class="has-submenu">
                    <a href="/issuances">Make an Issuance</a>
                    <ul class="submenu">
                        <li><a href="{{ url_for('user.issuance_listing') }}">View Issuances</a></li>
                        <li><a href="/create_issuance">Add an Issuance</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('user.statement_listing') }}">Open Issuances</a></li>
                <li><a href="{{ url_for('user.change_password') }}">Change Password</a></li>
                <li><a href="{{ url_for('user.logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>	
    <h1>Update Book</h1>
    <form id="updateBookForm" method="post" action="{{ url_for('books.update_book_form', book_id=book.id) }}">
        <label for="book_name">Name:</label>
        <input type="text" name="book_name" value="{{ book.name }}" required><br>
        <label for "book_author">Author:</label>
        <input type="text" name="book_author" value="{{ book.author }}" required><br>
        <label for "book_original_stock">Original Stock:</label>
        <input type="number" name="book_original_stock" value="{{ book.original_stock|int }}" required><br>
	<label for "book_current_stock">Current Stock:</label>
	<input type="number" name="book_current_stock" value="{{ book.current_stock|int }}" required><br>
        <button type="submit">Update Book</button>
    </form>
    <footer>
      <p>&copy; 2024 Library Management. All rights reserved</p>
    </footer>
</body>
</html>
