<!DOCTYPE html>
<html>
<head>
    <title>Update Member</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/form.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/navigation.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <nav class="horizontal-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{{ url_for('user.members_listing') }}">View Members</a></li>
                <li><a href="{{ url_for('user.books_listing') }}">View Books</a></li>
                <li class="has-submenu">
                    <a href="/issuances">Make an Issuance</a>
                    <ul class="submenu">
                        <li><a href="{{ url_for('user.issuance_listing') }}">View Issuances</a></li>
                        <li><a href="/create_issuance">Add an Issuance</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('user.statement_listing') }}">Open Issuances</a></li>
                <li><a href="{{ url_for('user.change_password') }}">Change Password</a></li>
                <li><a href="{{ url_for('user.logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>	
    <h1>Update Member</h1>
    <form id="updateMembersForm" method="post" action="{{ url_for('members.update_members_form', members_id=member.id) }}">
        <label for="members_name">Name:</label>
        <input type="text" name="members_name" value="{{ member.name }}" required><br>
        <label for "members_email">Email:</label>
        <input type="email" name="members_email" value="{{ member.email }}" required><br>
        <label for "members_contact">Contact:</label>
        <input type="text" name="members_contact" value="{{ member.contact }}" required><br>
        <button type="submit">Update Member</button>
    </form>
    <footer>
      <p>&copy; 2024 Library Management. All rights reserved</p>
    </footer>
</body>
</html>

