/* Style the form container */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Style form labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Style form input fields */
input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style the submit button */
button {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Add some hover effect to the button */
button:hover {
  background-color: #0056b3;
}

/* Style the "Add Books" button using its ID */
#add-books {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Add some hover effect to the "Add Books" button */
#add-books:hover {
  background-color: #0056b3;
}

/* Style the search container div */
.search-container {
	margin-top: 10px;
	margin-bottom: 10px;
}
